<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <title>proj-html-vuejs</title>
</head>
<body>
    <div id="app">
      <div> <!-- header -->
          <div class="row d-flex justify-content-around">
              <div class="col-4 col-sm-3 col-md-2 col-lg-1 p-vertical">
                  <a href=""><img src="./img/petsupplies-svg-logo-2.svg" alt=""></a>
              </div>
              <div class="col-4 col-sm-3 col-md-2 col-lg-1 p-vertical">
                  <input type="text" name="search" placeholder="Cerca..." class="b-20 lessborder">
              </div>
              <hr>
          </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light follow"> <!-- navbar -->
          <div class="container-fluid strong">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{navbar.home}}
                  </a>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{navbar.shop}}
                  </a>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{navbar.about}}
                  </a>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{navbar.services}}
                  </a>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{navbar.blog}}
                  </a>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Contact
                  </a>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{navbar.shopby}}
                  </a>
              </ul>
              <form class="d-flex">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-horizontal">
                      <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Questions? Call us : 1.800.123.4567
                        </a>
                  </ul>
                <button class="btn btn-outline-success p-horizontal radius b-20" type="submit"><i class="fas fa-shopping-cart"></i></button>
                <button class="btn btn-outline-success p-horizontal radius b-20" type="submit"><i class="fas fa-user"></i></button>
              </form>
            </div>
          </div>
      </nav>
      <div class="jumbotron"> <!-- jumbotron -->
        <div class="under-jumbo d-flex justify-content-around align-items-center">
          <h5 class="jumbo-content"><i class="far fa-map"></i> International Shipping Services</h5>
          <h5 class="jumbo-content"><i class="far fa-clock"></i> See our store hours and services</h5>
          <h5 class="jumbo-content"><i class="fas fa-check"></i> We price match to give you the best deals</h5>
        </div>
          <div class="container jumbo-content p-jumbo">
              <div class="row p-vertical">
                  <div class="col-sm-12 col-md-6 col-lg-4 col-12">
                      <div class="p-vertical">
                          <h5>FIND THE BEST ANIMAL SUPPLIES</h5>
                          <h1>We know animals are a part of your family, let us help take care of them.</h1>
                      </div>
                      <div class="p-vertical">
                          <button class="btn btn-outline-success radius buy" type="submit"><span class="inside-jumbo">Learn more about us</span></button>
                      </div>
                  </div>
              </div>
          </div> 
        <div class="under-jumbo d-flex justify-content-around align-items-center">
          <img class="food" src="./img/food.webp" alt="">
          <h4 class="jumbo-content">Get $25 OFF your first purchase of our homemade pet food!</h4>
          <h4 class="jumbo-content shop">Visit the shop</h4>
        </div>
      </div>
      <div> <!-- content product / wishlist -->
        <div class="p-vertical-plus">
          <div class="text-center p-vertical">
            <h2>Browse by category</h2>
            <h5 class="p-vertical">Augue purus et, tincidunt condimentum mauris. At nibh rutrum mi in. Nisi, vitae interdum eleifend dui, consequat nulla rhoncus dictum. Viverra.</h5>
            
            <div class="wishlist">
              <div v-if="wishList.length !== 0"><h3>Your wishlist</h3></div>
              <div v-else><h3>Empty wishlist</h3></div>

              <div v-for="(product, index) in wishList">
                <div>
                    <div><img class="products" :src="product.img" alt="" /></div>
                    <div class="p-vertical">
                      {{ product.name }}
                      {{ product.price }} $
                      <div class="p-vertical">
                        <i class="fas fa-heart heart-red" @click="removeWishList(index)"></i>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <hr>
            
            <div v-for="(product, index) in products">
                <div>
                  <img class="products" :src="product.img" alt="" />
                  <div class="p-vertical">
                    {{ product.name }}
                    {{ product.price }} $
                    <div class="p-vertical">
                      <i class="fas fa-heart heart" @click="addWishList(index)"></i>
                    </div>
                      
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container text-center"> <!-- new content every week -->
        <div class="new-content">
          <div class="p-vertical-big">
            <div class="p-vertical jumbo-content">
              <h5>FIND THE BEST ANIMAL SUPPLIES</h5>
              <h1>New arrivals weekly</h1>
          </div>
          <div class="p-vertical">
              <button class="btn btn-outline-success radius buy" type="submit"><span class="inside-jumbo">Learn more about us</span></button>
          </div>
          </div>
        </div>
      </div>
      <div class="user-testimonials"> <!-- user testimonials -->
        <div class="text-center p-vertical jumbo-content"><h1>Users testimonials</h1></div>
        <div class="d-flex justify-content-around align-items-center">
          <div class="jumbo-content">
            <img class="avatar" src="./img/avatar-1.jpg" alt="">
            <div class="content-avatar text-center p-vertical">Auctor est habitasse amet nunc, interdum vel mattis sodales cras. Ut nulla quis nunc, tincidunt eu. Eu.</div>
          </div>
          <div class="jumbo-content">
            <img class="avatar" src="./img/avatar-2.jpg" alt="">
            <div class="content-avatar text-center p-vertical">Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat vestibulum ac diam sit.</div>
          </div>
          <div class="jumbo-content">
            <img class="avatar" src="./img/avatar-3.jpg" alt="">
            <div class="content-avatar text-center p-vertical">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Proin eget tortor risus vestibulum ante ipsum.</div>
          </div>
        </div>
      </div>
      <div class="container news-letter"> <!-- newsletter -->
        <div class="row">
          <div class="col-6">
            <h1 class="p-vertical">Join our newsletter</h1>
            <h5 class="p-vertical">Volutpat vel turpis nulla lorem sed semper. Aliquam sagittis sem libero viverra vehicula nullam ut nisl.</h5>
            <input type="text" name="search" placeholder="Email..." class="b-20 lessborder"><button class="btn btn-outline-success radius news-button" type="submit"><span class="jumbo-content">Learn more about us</span></button>
          </div>
        </div>
      </div>
      <div class="services"> <!-- services -->
        <div class="d-flex justify-content-around align-items-center p-vertical-big services">
          <div class="text-center">
            <i class="fas fa-truck jumbo-content"></i>
            <div>
              <h5 class="jumbo-content">Free worldwide deliveries</h5>
            </div> 
          </div>
          <div class="text-center">
            <i class="far fa-map jumbo-content"></i>
            <div>
              <h5 class="jumbo-content">Find stores near you</h5>
            </div> 
          </div>
          <div class="text-center">
            <i class="fas fa-dollar-sign jumbo-content"></i>
            <div>
              <h5 class="jumbo-content">Best prices guarranteed</h5>
            </div> 
          </div>
          <div class="text-center">
            <i class="far fa-credit-card jumbo-content"></i>
            <div>
              <h5 class="jumbo-content">All credit card accepted</h5>
            </div> 
          </div>
        </div>
      </div>
      <div class="under-jumbo d-flex justify-content-around align-items-center top"> <!-- promo -->
        <img class="food" src="./img/food.webp" alt="">
        <h4 class="jumbo-content">Get $25 OFF your first purchase of our homemade pet food!</h4>
        <h4 class="jumbo-content shop">Visit the shop</h4>
      </div>
      <div class="footer p-vertical-big jumbo-content"> <!-- footer -->
        <div class="row discount-box padding-gen">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div>
              <img class="footer-logo footer-hover" src="./img/petsupplies-svg-logo-2.svg" alt="">
            </div>
            <div class="p-vertical">1234 Avada Avenue Avadaville
              info@your-company.com
              Call us: (1) 234 5678</div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 col-12">
            <ul>
              <li><h3>Shop by brand</h3></li>
              <li class="footer-hover">{{footer.bed}}</li>
              <li class="footer-hover">{{footer.food}}</li>
              <li class="footer-hover">{{footer.toys}}</li>
              <li class="footer-hover">{{footer.transport}}</li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 col-12">
            <ul>
              <li><h3>Useful links</h3></li>
              <li class="footer-hover">{{footer.myaccount}}</li>
              <li class="footer-hover">{{footer.orders}}</li>
              <li class="footer-hover">{{footer.checkout}}</li>
              <li class="footer-hover">{{footer.cart}}</li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 col-12">
            <ul>
              <li><h3>Subscribe to our newsletter</h3></li>
              <li><input type="text" name="search" placeholder="Email..." class="b-20 lessborder top-small"></li>
              <li><button class="btn btn-outline-success radius news-button top-small" type="submit"><span class="jumbo-content">Subscribe</span></button></li>
            </ul>
          </div>
          <hr>
          <div class="jumbo-content text-center">
            <span class="padding-gen footer-hover">{{navbar.home}}</span>
            <span class="padding-gen footer-hover">{{navbar.about}}</span>
            <span class="padding-gen footer-hover">{{navbar.blog}}</span>
            <span class="padding-gen footer-hover">{{navbar.contact}}</span>
            <span class="padding-gen footer-hover">{{navbar.shop}}</span>
          </div>
          <div class="jumbo-content text-center top">
            <span class="padding-gen footer-hover"><i class="fab fa-facebook-f"></i></span>
            <span class="padding-gen footer-hover"><i class="fab fa-twitter"></i></span>
            <span class="padding-gen footer-hover"><i class="fab fa-instagram"></i></span>
            <span class="padding-gen footer-hover"><i class="fab fa-youtube"></i></span>
          </div>
        </div>
        <div class="row discount-box">
          <div class="col-12">
            <div>© Copyright 2012 - 2021 | Avada Theme by ThemeFusion | All Rights Reserved | Powered by WordPress</div>
          </div>
        </div>
      </div>
    </div> 
<script src="script.js"></script>
</body>
</html>
